body {
  background-color: black;
  color: #00ff00;
  font-family: monospace;
  text-align: center;
}
body {
  background: 
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
    url("https://media.giphy.com/media/3o7aD2saalBwwftBIY/giphy.gif");

  background-size: cover;
  background-position: center;
  color: #00ff00;
}

.title {
  color: #ff0033;
  text-shadow: 0 0 10px #ff0033;
}
