body {
  background-color: black;
  color: #00ff00;
  font-family: monospace;
  text-align: center;
}
body {
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1563206767-5b18f218e8de?w=1200");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #00ff00;
}
.title {
  color: #00e600;
  text-shadow: 0 0 10px #ff0033;
}
