body {
  background-color: black;
  color: #00ff00;
  font-family: monospace;
  text-align: center;
}
body {
  background: 
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
    url("https://unsplash.com/photos/flat-screen-computer-monitor-displaying-white-and-black-screen-J5yoGZLdpSI");

  background-size: cover;
  background-position: center;
  color: #00ff00;
}

.title {
  color: #ff0033;
  text-shadow: 0 0 10px #ff0033;
}
